<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/CSS/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <h1 class="display-1 text-white">Todos</h1>
                    <% for(task of tasks){%>
                    <div class="lis mb-3">
                        <form action="/<%= task._id %>?_method=PUT" method="POST" class="d-inline">
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input onChange="this.form.submit()" class="checkbox form-check-input mt-0" type="checkbox" <%= task.completed? "checked":"" %>
                                    name="task[completed]"/>
                                </div>
                                <input type="text" class="form-control" value="<%= task.text %>" name="task[text]" id="text" onChange="this.form.submit()" />
                            </div>
                        </form>
                        <form action="/<%= task._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>

                        <a href="/<%= task._id %>" class="btn btn-warning">Edit</a>
                    </div>

                    <% } %>
                    <h2 class="display-3 text-primary">Add New Todo</h2>
                    <form action="/new" method="POST">
                        <label for="newtext" class="form-label">Task Name: </label>
                        <input type="text" id="newtext" name="task[text]" class="form-control" />
                        <br />
                        <label for="completed" class="form-label">Status: </label>
                        <input type="checkbox" name="task[completed]" id="completed" value="true" class="form-checkbox" />

                        <br />
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const lis = document.querySelectorAll(".lis");
            for (let i = 0; i < lis.length; i++) {
                if (lis[i].children[0].children[0].children[0].children[0].checked) {
                    lis[i].children[0].children[0].classList.add("lineThrough");
                }
            }
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
